.guide {
  width: 100%;
  /*display: block;*/
  border: 1px solid #000;
  background-image: url("../img/overly.jpg");
  border: 1px solid #000;
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #000;
  margin-bottom: 128px;


}
.guide__container {
  max-width:1920px;
  padding-top: 128px;
  padding-left: 80px;
  color:#FFFFFF;
  min-height: 720px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;

}
.guide__wrapper {
  max-width:804px;
  display: flex;
  flex-direction: column;
  gap:24px;
}

.guide__title {
  font-family: Sen;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.15; /* 114.286% */
  letter-spacing: -2px;
}
.guide__autor {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
}
.guide__autor-by {
}
.guide__autor-name {
  
}
.guide__autor-name--color-yellow {
  color:  #FFD050;
  cursor: pointer;
}
.guide__autor-name--color-yellow:hover {
  color:  #5c4508;
  transition: color 0.2s;
}
.guide__autor-name--color-yellow:active {
  color:  #b4a374;
}
.guide__autor-date-creat {
  padding-left: 10px;
  border-left: 0.5px solid #fff;
  color:  #FFFFFF;
}
/*.guide__description {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}*/
.button {
  background: #FFD050;
  width:156px;
  height: 40px;
  cursor: pointer;
  display: inline-flex;
  padding: 0px 30px 16px 0px;
  align-items: flex-start;
  gap: 12px;
}
.button__text {
  color: #232536;
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
}