.masthead {
  display:flex;
  background-color: #000;
  margin-left: 8%;
  align-items: center;
}
.masthead__logo {
}
.nav__list {
}
.top-nav {
  display:flex;
  list-style-type: none;
  
}
.top-nav__item {
  text-decoration: none;
}
.form__list {
}
.top-form {
  list-style-type: none;
}
.top-form__item {
  
}
.top-form__item><button {
}
.type= {
}
.navbar-item-form__link {
}
.container {
}
.position-relative {
}
.px-4 {
}
.px-lg-5 {
}
.row {
}
.gx-4 {
}
.gx-lg-5 {
}
.justify-content-center {
}
.col-md-8 {
}
.col-lg-10 {
}
.col-xl-7 {
}
.site-heading {
}
.blockquote {
}
.text-nowrap {
}
.blockquote-footer {
}
.container-fluid {
}
.col-xs-12 {
}
.col-sm-8 {
}
.col-md-6 {
}
.col-lg-4 {
}
.col-sm-2 {
}
.col-md-3 {
}
.form-group {
}
.form-control {
}
.help-block {
}