/* main Content */
.main-content{
  flex:1 0 auto;
 }

.hero {
  background-color: rgb(24, 24, 35);
}
.container-hero {
  max-width: 90rem;
  min-height: 50.875rem;
  flex-direction: row;
  position: relative;
  display:flex;

 }

.hero-img{
position:absolute;
left:0;
top:5rem;
max-width: 50%;
}
.hero_slogan{
  position:absolute;
  left: 41.375rem;
  top:8.344rem;
  display: flex;
  flex-direction: column;
  min-height: 25.969rem;
  justify-content: space-between;

}
.slogan{
  font-family: Sen;
  font-size: 4rem;
  font-weight: 700;
  line-height: 80px;
  color:rgb(255, 255, 255)
}
.slogan span {
  color:rgba(255, 255, 255, 0.5)
}
.slogan__description{
  max-width: 738px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color:rgb(255, 255, 255)
}






/* Стили для секций  */
section{
  height: 100vh;

}
.container-section{
  max-width:90rem;
  display: flex;
  flex-direction: column;
  }

  .title-content {
    text-transform: uppercase;
    font-size: 2rem;
    color:rgb(34, 32, 30);
    padding: 5rem 0 1.3rem 0;
  }
  .title-content::after {
    content:"";
    display: block;
    width:50%;
    height:0.05rem;
    background: rgb(113, 110, 106);
    border-radius: 0.2rem;
      margin: 0 auto;
      margin-top: 1.5rem;
  }






  /* Стили для прилипающего меню навигации */
  .service-nav{
    background: var(--black, #6c6e7b);
    position: sticky;
    top:0px;
    z-index: 2;
  }
  
  .nav-wrapper {
    width: 100%;
    display:flex;
    justify-content: space-between; 
    align-items: center;
  
  }
  .logo-internal {
    max-width:5rem;
    max-height: 5rem;
  }
  .nav-internal {
  }
  .nav-internal-list {
    display:flex;
    gap:1rem;
    font-size: 1.5rem;
  
  }
  .nav-internal-item {
    color:antiquewhite;
  }
  
  .nav-internal__link{
    position: relative;
    cursor: pointer;
    color:antiquewhite;
  }
  
  
  .nav-internal__link--1:before{
  content:'';
  display: inline-block;
  width:1.5rem;
  height: 1.2rem;
  background-image: url(../../img/portfolio/services.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0.1rem;
  }
  .nav-internal__link:after{
    content:'';
    display: block;
    position: absolute;
    left:0;
    width:0%;
    height:1px;
    background-color:rgb(67, 6, 58);
    transition: 0.3s ease-in-out .1s;
    }
    .nav-internal__link:hover{
      color:rgb(67, 6, 58);
      transition: 0.5s;
    }
    .nav-internal__link:hover::before{
      border:0.5px solid rgb(67, 6, 58);
      transition: 0.5s;
    }
    .nav-internal__link:hover:after{
      width: 100%;
    }
    .nav-internal__link:active{
      color:rgb(67, 6, 58);
    }
    .nav-internal__link:focus{
      color:rgb(67, 6, 58);
    }
  a.nav-internal__link--active{
    color:rgb(99, 19, 88);
    transition: 0.5s;
  }
  a.nav-internal__link--active:before{
    border:0.5px solid rgb(67, 6, 58);
    transition: 0.5s;
  }
  a.nav-internal__link--active:after{
    width: 100%;
    background-color:rgb(67, 6, 58);
    transition: 0.5s;
  }
 
    .nav-internal__link--2::before{
      content:'';
      display: inline-block;
      width:1.5rem;
      height: 1.2rem;
      background-image: url(../../img/portfolio/values.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 0.1rem;
      }
  
  
  .nav-internal__link--3::before{
  content:'';
  display: inline-block;
  width:1.5rem;
  height: 1.2rem;
  background-image: url(../../img/portfolio/skills.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0.1rem;
  }
  .nav-internal__link--4::before{
  content:'';
  display: inline-block;
  width:1.5rem;
  height: 1.2rem;
  background-image: url(../../img/portfolio/portfolio-icon.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0.6rem;
  }
  .nav-internal__link--5::before{
  content:'';
  display: inline-block;
  width:1.5rem;
  height: 1.2rem;
  background-image: url(../../img/portfolio/about_me.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0.1rem;
  }