
/* portfolio_footer */
.portfolio-footer{
  flex:0 0 auto;

  background: var(--black,rgb(24, 24, 35));
}
.container-bottom{
  min-height: 9.375rem;
  padding: 10px 20px 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap:25%;
  align-items: center;
}
.logo__link--top {
  min-width:170px;
  min-height: 40px;
}
  .footer__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .copyright{
    color:aliceblue;
  }


.social {
  display: flex;
  align-items: bottom;
  padding-bottom: 28px;
}
.social__img {
  width: 16px;
  height: 16px;
}

.nav-footer {

}
.nav__nested--gorizont {
  flex-direction: row;
  
}
.nav__btn-footer {
  display: none;
}
.hade {
  display: flex;
  flex-direction: column;
  gap:10px;
  justify-content:center;
  align-items: center;
  width:140px;
}
.hade__text {
  padding: 0;
  font-size: 14px;
  text-align: center;
}

